[submodule "src/doc/nomicon"]
	path = src/doc/nomicon
	url = https://github.com/rust-lang/nomicon.git
	shallow = true
[submodule "src/tools/cargo"]
	path = src/tools/cargo
	url = https://github.com/rust-lang/cargo.git
	shallow = true
[submodule "src/doc/reference"]
	path = src/doc/reference
	url = https://github.com/rust-lang/reference.git
	shallow = true
[submodule "src/doc/book"]
	path = src/doc/book
	url = https://github.com/rust-lang/book.git
	shallow = true
[submodule "src/doc/rust-by-example"]
	path = src/doc/rust-by-example
	url = https://github.com/rust-lang/rust-by-example.git
	shallow = true
[submodule "src/doc/edition-guide"]
	path = src/doc/edition-guide
	url = https://github.com/rust-lang/edition-guide.git
	shallow = true
[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/rust-lang/llvm-project.git
	branch = rustc/21.1-2025-08-01
	shallow = true
[submodule "src/doc/embedded-book"]
	path = src/doc/embedded-book
	url = https://github.com/rust-embedded/book.git
	shallow = true
[submodule "src/tools/rustc-perf"]
	path = src/tools/rustc-perf
	url = https://github.com/rust-lang/rustc-perf.git
	shallow = true
[submodule "src/tools/enzyme"]
	path = src/tools/enzyme
	url = https://github.com/rust-lang/enzyme.git
	shallow = true
[submodule "src/gcc"]
	path = src/gcc
	url = https://github.com/rust-lang/gcc.git
	shallow = true
[submodule "vendor/addr2line"]
	path = vendor/addr2line
	url = https://github.com/gimli-rs/addr2line
[submodule "vendor/adler2"]
	path = vendor/adler2
	url = https://github.com/oyvindln/adler2
[submodule "vendor/ahash"]
	path = vendor/ahash
	url = https://github.com/tkaitchuck/ahash
[submodule "vendor/aho-corasick"]
	path = vendor/aho-corasick
	url = https://github.com/BurntSushi/aho-corasick
[submodule "vendor/alloc-no-stdlib"]
	path = vendor/alloc-no-stdlib
	url = https://github.com/dropbox/rust-alloc-no-stdlib
[submodule "vendor/alloc-stdlib"]
	path = vendor/alloc-stdlib
	url = https://github.com/dropbox/rust-alloc-no-stdlib
[submodule "vendor/allocator-api2"]
	path = vendor/allocator-api2
	url = https://github.com/zakarumych/allocator-api2
[submodule "vendor/android-tzdata"]
	path = vendor/android-tzdata
	url = https://github.com/RumovZ/android-tzdata
[submodule "vendor/android_system_properties"]
	path = vendor/android_system_properties
	url = https://github.com/nical/android_system_properties
[submodule "vendor/annotate-snippets"]
	path = vendor/annotate-snippets
	url = https://github.com/rust-lang/annotate-snippets-rs
[submodule "vendor/anstream"]
	path = vendor/anstream
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle"]
	path = vendor/anstyle
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle-lossy"]
	path = vendor/anstyle-lossy
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle-parse"]
	path = vendor/anstyle-parse
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle-query"]
	path = vendor/anstyle-query
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle-svg"]
	path = vendor/anstyle-svg
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anstyle-wincon"]
	path = vendor/anstyle-wincon
	url = https://github.com/rust-cli/anstyle.git
[submodule "vendor/anyhow"]
	path = vendor/anyhow
	url = https://github.com/dtolnay/anyhow
[submodule "vendor/ar_archive_writer"]
	path = vendor/ar_archive_writer
	url = https://github.com/rust-lang/ar_archive_writer
[submodule "vendor/arc-swap"]
	path = vendor/arc-swap
	url = https://github.com/vorner/arc-swap
[submodule "vendor/arrayref"]
	path = vendor/arrayref
	url = https://github.com/droundy/arrayref
[submodule "vendor/arrayvec"]
	path = vendor/arrayvec
	url = https://github.com/bluss/arrayvec
[submodule "vendor/arrow"]
	path = vendor/arrow
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-arith"]
	path = vendor/arrow-arith
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-array"]
	path = vendor/arrow-array
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-buffer"]
	path = vendor/arrow-buffer
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-cast"]
	path = vendor/arrow-cast
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-csv"]
	path = vendor/arrow-csv
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-data"]
	path = vendor/arrow-data
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-ipc"]
	path = vendor/arrow-ipc
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-json"]
	path = vendor/arrow-json
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-ord"]
	path = vendor/arrow-ord
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-row"]
	path = vendor/arrow-row
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-schema"]
	path = vendor/arrow-schema
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-select"]
	path = vendor/arrow-select
	url = https://github.com/apache/arrow-rs
[submodule "vendor/arrow-string"]
	path = vendor/arrow-string
	url = https://github.com/apache/arrow-rs
[submodule "vendor/askama"]
	path = vendor/askama
	url = https://github.com/askama-rs/askama
[submodule "vendor/askama_derive"]
	path = vendor/askama_derive
	url = https://github.com/askama-rs/askama
[submodule "vendor/askama_parser"]
	path = vendor/askama_parser
	url = https://github.com/askama-rs/askama
[submodule "vendor/atoi"]
	path = vendor/atoi
	url = https://github.com/pacman82/atoi-rs
[submodule "vendor/autocfg"]
	path = vendor/autocfg
	url = https://github.com/cuviper/autocfg
[submodule "vendor/backtrace"]
	path = vendor/backtrace
	url = https://github.com/rust-lang/backtrace-rs
[submodule "crates/introspector"]
	path = crates/introspector
	url = https://github.com/meta-introspector/lattice-introspector
[submodule "vendor/lattirust"]
	path = vendor/lattirust
	url = https://github.com/meta-introspector/lattirust
[submodule "vendor/latticefold-rs"]
	path = vendor/latticefold-rs
	url = https://github.com/meta-introspector/latticefold-rs
[submodule "vendor/Lazarus"]
	path = vendor/Lazarus
	url = https://github.com/lattice-complete/Lazarus
[submodule "vendor/qfall-crypto"]
	path = vendor/qfall-crypto
	url = https://github.com/qfall/crypto
[submodule "vendor/formal_methods/mathlib4"]
	path = vendor/formal_methods/mathlib4
	url = https://github.com/leanprover-community/mathlib4
[submodule "vendor/formal_methods/groupoid_model_in_lean4"]
	path = vendor/formal_methods/groupoid_model_in_lean4
	url = https://github.com/meta-introspector/groupoid_model_in_lean4
[submodule "vendor/formal_methods/Coq-HoTT"]
	path = vendor/formal_methods/Coq-HoTT
	url = https://github.com/HoTT/Coq-HoTT
[submodule "vendor/formal_methods/HoTT-Agda"]
	path = vendor/formal_methods/HoTT-Agda
	url = https://github.com/HoTT/HoTT-Agda
[submodule "vendor/formal_methods/HoTTEST-Summer-School"]
	path = vendor/formal_methods/HoTTEST-Summer-School
	url = https://github.com/martinescardo/HoTTEST-Summer-School
[submodule "vendor/formal_methods/hottbox"]
	path = vendor/formal_methods/hottbox
	url = https://github.com/hottbox/hottbox
[submodule "vendor/formal_methods/HoTT-Intro"]
	path = vendor/formal_methods/HoTT-Intro
	url = https://github.com/EgbertRijke/HoTT-Intro
[submodule "vendor/formal_methods/hott3"]
	path = vendor/formal_methods/hott3
	url = https://github.com/gebner/hott3
[submodule "vendor/formal_methods/ground_zero"]
	path = vendor/formal_methods/ground_zero
	url = https://github.com/rzrn/ground_zero
[submodule "vendor/formal_methods/HoTT-Model"]
	path = vendor/formal_methods/HoTT-Model
	url = https://github.com/KunhongDu/HoTT-Model
[submodule "vendor/formal_methods/HoTT-StudyGroup"]
	path = vendor/formal_methods/HoTT-StudyGroup
	url = https://github.com/BinderDavid/HoTT-StudyGroup
[submodule "vendor/formal_methods/hott-book-in-lean"]
	path = vendor/formal_methods/hott-book-in-lean
	url = https://github.com/bbentzen/hott-book-in-lean
[submodule "vendor/formal_methods/HoTT-Case-Study"]
	path = vendor/formal_methods/HoTT-Case-Study
	url = https://github.com/theckl/HoTT-Case-Study
[submodule "vendor/formal_methods/cHoTT4"]
	path = vendor/formal_methods/cHoTT4
	url = https://github.com/theckl/cHoTT4
[submodule "vendor/formal_methods/HoTT_Lean4"]
	path = vendor/formal_methods/HoTT_Lean4
	url = https://github.com/merzougao/HoTT_Lean4
[submodule "vendor/formal_methods/UniMath"]
	path = vendor/formal_methods/UniMath
	url = https://github.com/UniMath/UniMath
[submodule "vendor/formal_methods/SymmetryBook"]
	path = vendor/formal_methods/SymmetryBook
	url = https://github.com/UniMath/SymmetryBook
[submodule "vendor/bootstrapping/mes"]
	path = vendor/bootstrapping/mes
	url = https://github.com/meta-introspector/mes
[submodule "vendor/bootstrapping/guixie"]
	path = vendor/bootstrapping/guixie
	url = https://github.com/meta-introspector/guixie
[submodule "vendor/bootstrapping/guix"]
	path = vendor/bootstrapping/guix
	url = https://codeberg.org/guix/guix
[submodule "vendor/lean4"]
	path = vendor/lean4
	url = https://github.com/leanprover/lean4
[submodule "vendor/llvm-project"]
	path = vendor/llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "vendor/clangir"]
	path = vendor/clangir
	url = https://github.com/llvm/clangir
[submodule "vendor/cmake"]
	path = vendor/cmake
	url = https://github.com/meta-introspector/CMake
[submodule "vendor/gmp"]
	path = vendor/gmp
	url = https://github.com/meta-introspector/gmp
[submodule "vendor/libuv"]
	path = vendor/libuv
	url = https://github.com/meta-introspector/libuv
